<!DOCTYPE html>
<html lang="es">
    <head>
    <!-- CONFIGURACION -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=devode-width, initial-scale=1.0">
        <title>Inicio</title>

    <!-- FAVICON -->
        <link rel="icon" href="../images/favicon.png">

    <!-- CSS -->
        <link rel="stylesheet" href="../css/estilos.css">

    <!-- FONDO GLOBAL -->
    </head>
    <body>
        <header>
            <div class="divPrincipal">
                <img src="../images/favicon.png" alt="Logotipo de la empresa" class="imagenPrincipal" width="291" height="230">
                <h1 class="bienvenidoLetra">Inicio</h1>
            </div>
            
            <!-- Barra navegacion -->
            <nav class="barraArriba">
                <a href="../index.html" class="barraHerramientas">Inicio</a> <!-- Va a la misma página -->
                <a href="./productos.html" class="barraHerramientas">Productos</a>
                <!-- Va a otra página -->
                <a href="./presupuestos.html" class="barraHerramientas">Precios</a> <!-- Va a otra página -->
                <a href="#" class="botonResaltado">Contacto</a> <!-- Va a otra página -->
            </nav>
        </header>

        <main id="divFormulario">
            <!-- Ubicacion del restaurante -->
           <p>Ubicación de nuestro restaurante:</p>
           <img src="../images/google.png" alt="imagen mapa google" id="mapaGoogle">
           <!-- Parrafos de informacion del restaurante -->
           <p>Numero de contacto: 123456789</p>
           <p>Direccion: Avenida de las comudas 56, Madrid, Madrid, 28033</p>
           <p>Correo electronico: vintageburger@vintage.com</p>
        </main>

        <!-- Barra de redes sociales y aviso legal -->
        <footer>
            <div>
                <nav class="barraAbajo">
                    <!-- Redes sociales -->
                    <div id="internoAbajo">
                        <!-- Logo Facebook -->
                        <a href="https://es-es.facebook.com/">
                            <img src="../images/facebook.png" alt="Imagne del logotipo de facebook" class="redesSociales" width="4169" height="4169">
                        </a>
                        <!-- Logo Instagram -->
                        <a href="https://www.instagram.com/">
                            <img src="../images/instagram.png" alt="Imagne del logotipo de facebook" class="redesSociales" width="600" height="600">
                        </a>
                        <!-- Logo twitter -->
                        <a href="https://x.com/">
                            <img src="../images/twitter.png" alt="Imagne del logotipo de facebook" class="redesSociales" width="245" height="300">
                        </a>        
                    </div>
                    <!-- Aviso legal -->
                    <div id="avisoLegal">
                        <p>Aviso Legal: Este sitio web es propiedad de Vintage Burger, con domicilio en Avenida de la comida 56, y con NIF B1243564. </p>
                    </div>
                </nav>
            </div>
        </footer>
    </body>
</html>