<!DOCTYPE html>
<html lang="es">
    <head>
    <!-- CONFIGURACION -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=devode-width, initial-scale=1.0">
        <title>Inicio</title>

    <!-- FAVICON -->
        <link rel="icon" href="../images/favicon.png">

    <!-- CSS -->
        <link rel="stylesheet" href="../css/estilos.css">

    <!-- FONDO GLOBAL -->
    </head>
    <body>
        <header>
            <!-- Logo de la empresa -->
            <div class="divPrincipal">
                <img src="../images/favicon.png" alt="Logotipo de la empresa" class="imagenPrincipal" width="291" height="230">
                <h1 class="bienvenidoLetra">Inicio</h1>
            </div>
            
            <!-- Barra navegacion -->
            <nav class="barraArriba">

                <a href="../index.html" class="barraHerramientas">Inicio</a> <!-- Va a la misma página -->
                <a href="#" class="botonResaltado"> Productos</a> <!-- Va a otra página -->
                <a href="./presupuestos.html" class="barraHerramientas">Precios</a> <!-- Va a otra página -->
                <a href="./contacto.html" class="barraHerramientas">Contacto</a> <!-- Va a otra página -->
            </nav>
        </header>

        <main>
            <!-- Titulo 1 -->
           <h1 class="centrado">Descubre Nuestras Exclusivas Hamburguesas</h1>
           <!-- Titulo 2 -->
           <h2 class="centrado">Ven y prueba estas exquisitas opciones en nuestro restaurante. ¡Te garantizamos que encontrarás tu nueva favorita!</h2>
           <!-- Imagenes de los productos en forma de tabla -->
            <table class="tabla">
                <!-- Titulos de cada producto -->
                <tr class="centrado">
                    <th>Hamburguesa de Carne Suprema</th>
                    <th>Hamburguesa de Pollo a la Parrilla</th>
                    <th>Hamburguesa Vegana de Delicias Vegetales</th>
                </tr>
                <!-- Imagenes de cada producto -->
                <tr class="centrado">
                    <td>
                        <img src="../images/Carne.png" alt="foto burger carne" id="hamburguesaCarne" width="1920" height="1724">
                    </td>
                    <td>
                        <img src="../images/pollo.png" alt="foto burger pollo" id="hamburguesaPollo" width="1000" height="642">
                    </td>
                    <td >
                        <img src="../images/vegana.png" alt="foto burger vegana" id="hamburguesaVegana" width="1000" height="495">
                    </td>
                </tr>
                <!-- Descripcion de cada producto -->
                <tr class="centrado">
                    <td>Sumérgete en el sabor clásico con nuestra Hamburguesa de Carne Suprema. Elaborada con carne 100% de res de la más alta calidad, esta hamburguesa es una explosión de jugosidad y sabor. Acompañada de queso cheddar derretido, lechuga crujiente, tomate fresco y nuestra salsa especial, todo esto envuelto en un pan brioche tostado. ¡Cada mordida es una experiencia gourmet!</td>
                    <td>Para aquellos que buscan una alternativa ligera pero igualmente deliciosa, presentamos nuestra Hamburguesa de Pollo a la Parrilla. Hecha con pechuga de pollo marinada y asada a la perfección, esta hamburguesa se complementa con queso suizo, rodajas de aguacate, rúcula fresca y una delicada mayonesa de ajo. Servida en un pan integral artesanal, es la opción perfecta para los amantes del pollo.</td>
                    <td>No nos olvidamos de nuestros amigos veganos. Nuestra Hamburguesa Vegana de Delicias Vegetales está hecha con un suculento medallón de garbanzos y quinoa, repleto de proteínas y fibra. Coronada con queso vegano, pepinillos, cebolla caramelizada, lechuga y un toque de mostaza dijon, todo dentro de un pan sin gluten. Es una hamburguesa que demuestra que comer saludable también puede ser absolutamente delicioso.</td>
                </tr>
            </table>
        </main>

        <!-- Barra de redes sociales y aviso legal -->
        <footer>
            <div>
                <nav class="barraAbajo">
                    <!-- Redes sociales -->
                    <div id="internoAbajo">
                        <!-- Logo Facebook -->
                        <a href="https://es-es.facebook.com/">
                            <img src="../images/facebook.png" alt="Imagne del logotipo de facebook" class="redesSociales" width="4169" height="4169">
                        </a>
                        <!-- Logo Instagram -->
                        <a href="https://www.instagram.com/">
                            <img src="../images/instagram.png" alt="Imagne del logotipo de facebook" class="redesSociales" width="600" height="600">
                        </a>
                        <!-- Logo twitter -->
                        <a href="https://x.com/">
                            <img src="../images/twitter.png" alt="Imagne del logotipo de facebook" class="redesSociales" width="245" height="300">
                        </a>        
                    </div>
                    <!-- Aviso legal -->
                    <div id="avisoLegal">
                        <p>Aviso Legal: Este sitio web es propiedad de Vintage Burger, con domicilio en Avenida de la comida 56, y con NIF B1243564. </p>
                    </div>
                </nav>
            </div>
        </footer>
    </body>
</html>